@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {height: 100%;}

/* CONTENEDOR DEL BODY */

.gridContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";    
    min-height: 100%;
    overflow: auto;
}


/* NAV BAR */

header {
    background-color: black;
    grid-area: header;
    box-shadow: 0px 1px 5px;
}

.navBar {    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.menu a {
    color: #404040;
    font-weight: 400;
}

.menu a:hover {
    color: #fff;
}

.menuCont {
    display: flex;
    grid-column: 2 / 4;  
    justify-content: space-between;
}    


.logo {
    width: 150px;
    height: 100px;
    grid-column: 1 / 2;
    margin-left: 15px;
}

.navBar .menu {    
    display: flex;      
    list-style: none;
}

.navBar-list {padding: 0px 20px 0px 20px;}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);    
}

.search {
    grid-column: 6 / 7;
}

.sign {
    grid-column: 7 / 8;
    display: flex;
    justify-content: flex-end;
}

.shop {
    grid-column: 8 / 9;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

/* FIN DEL NAV BAR */

/* MAIN INDEX */

main {
    grid-area: main;
    padding-bottom: 75px;
}

h1  {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    }

.containerAcc {
    width: 400px;
    height: 610px;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 50px 20px 20px 20px;    
    text-align: center;
    transition: all 0.25s;
    background-color: #fff;
}

/* ANIMACION */
.containerAcc:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/*FIN ANIMACION */

.containerAcc img { 
    width: 400px;
    height: 470px;  
}

.containerAcc h4 {
    font-weight: 800;
    font-size: 1.7em;
    margin: 20px;
}

.containerAcc a {
    color: black;
    font-weight: 100;    
}
/* FIN DEL MAIN */

/* PAGES */


.principalNosotros, .conteinerProductos, .mainMarcas, .mainContact, .gridContainer {
    text-align: center;    
    color: #404040;
}

.contactText, .formularios, .textEmpresa {
    font-style: italic;
    font:bold;
    margin-bottom: 5px;
}

.formularios, .textEmpresa {
    border: 0px;
    line-height: 1.7;
}

.imgEmpresa {
    margin-top: 25px;
    width: 1267px;
    height: 712px;
}

.textEmpresa {
    margin-top: 20px;
    font: 20px bold;
    font-style: italic;
}

.h1Productos, .mainMarcas h1 {
    padding: 20px 0px 15px 0px;
}

.h1Productos h1, .mainMarcas h1  {
    margin-top: 0px;
}

table {
    display: inline-block;    
}

.mainMarcas {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h1"        
    "marcas"
    "pagos";
    min-height: 100%;
    overflow: auto; 
}

.mainMarcas h1 {
    grid-area: h1;
}

.containerMarcas {    
    padding-top: 50px;
    max-width: 1900px;
    min-width: 320px;   
    margin: auto;
}

.containerPagos {
    width: 100vw;
    padding-top: 50px;
    max-width: 1000px;
    min-width: 320px;   
    margin: auto;
}

.marcas, .imgPagos {    
        width: 100%;
}

.imgPagos {    
    grid-area: pagos;     
}


.ContainerContact {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";    
    min-height: 100%;
    overflow: auto;
}

.mainContact {
    padding-bottom: 135px;
}

/* FIN DE PAGES */


/* FOOTER */

footer {
    grid-area: footer;
    width: 100%;
    background-color: black;
    color: #fff;    
}

.containerFooter {
    width: 100%;
    margin: auto;
    display: grid;    
    grid-template-columns: repeat(15, 1fr); 
    grid-template-rows: 1fr;
    grid-gap: 0px;
    padding: 20px 0px 0px 0px;
}

.boxUbi {
    grid-column: 1 / 4;
    padding-left: 25px;
}

.mapIframe {
    grid-column: 4 / 6;
}

.mapIframe iframe {
    width: 100%;
    height: 90%;
}

.boxP {
    display: flex;
    justify-content: flex-start;
}

.boxUbi h4 {
    font-size: 1.4rem;
    margin-bottom: 25px;
    text-align: flex-start;
}

.boxUbi p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #efefef;
}

.boxRRSS {
    grid-column: 13 / 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxRRSS a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #bdbdbd;
    margin-right: 10px;
    background-color: #040404;
    text-align: center;
    transition: all 300ms ease;
}


/* ANIMACION REDES SOCIALES */
.boxRRSS a:hover {
    color: #fff;
    animation: saltar 1s ease-in-out 1 normal both;
}

@keyframes saltar {
    from,
    65%,
    85%,
    to {
        transform: translateY(0) scale(1,1);
    }
    15% {
        transform: translateY(-1rem) scale(1,1.2);
    }
    35%, 
    45% {
        transform: translateY(-2rem) scale(1,1.08);}
    75% {
        transform: translateY(.5rem) scale(1.2,.8);
    }
    95% {transform: translateY(0) scale(1.05,1.05);}
}



/* FIN ANIMACIÓN */

/* ANIMACIONES FOOTER*/

.mapIframe {
    transition: all 300ms;    
}

.mapIframe:hover {
    transform: scale(1.5) translate(45px, -45px);    
}


/* fin del footer */

/* MEDIA QUERIS*/

@media screen and (max-width:768px) and (min-width: 400px) {

.navBar {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: black;      
}

.logo {
    grid-column: 1 / 4;
    margin: 0px;
    padding: 0px;
}

.search {
    grid-column: 8 / 13;
    grid-row: 1 / 2;
    width: 120%;    
}

.menuCont {
    height: 100%;
    width: 100%;
    grid-column: 1 / 17;
    grid-row: 2 / 3;
    justify-content: center;
}

.menu {
    flex-direction: column;
    width: 100vw;    
}

.navBar-list {    
    border: 1px #404040 solid;
    width: 100vw;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.sign {
    grid-column: 12 / 16;
    grid-row: 1 / 2;
    cursor: pointer;
    padding-bottom: 10px;
}

.shop {
    display: none;
}

.containerAcc {
    width: 350px;
    height: 500px;
}

.containerAcc img {
    width: 350px;
    height: 390px; 
}


/* MEDIA QUERIS FOOTER */
.containerFooter {                
    display: grid;            
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "boxUbi mapIframe"
    "boxRRSS boxRRSS";  
    margin-bottom: 5px;      
}

.boxUbi {
    grid-area: boxUbi;
}

.boxRRSS {
    grid-area: boxRRSS;
    display: flex;
    justify-content: center;            
}

.boxRRSS .fa {
    margin: 15px;
}

.mapIframe {
    grid-area: mapIframe;        
    display: flex;
    justify-content: center;
}
.mapIframe iframe {
    width: 90%;
    height: 90%;
    border-radius: 3px;
    margin-right: 5px;}



/* QUERIS PAGES */

.principalNosotros {
    display: grid;        
    color: #404040;
}

.principalNosotros p {
    padding: 0px 20px 0px 20px;
}

.principalNosotros .imgEmpresa {
    height: 90%;
    width: 90%;
    padding-left: 60px;
}

.principalNosotros h1  {        
    font-size: 1.8rem;
}

/* ANIMACIONES Y TRANSFORMACIONES*/


.mapIframe:hover {
    transform: scale(1.3) translateY(-45px) translateX(-45px);    
}


}


