@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.img-fluid {
    width: 150px;
    height: 100px;
}

.card-personalizada {    
    height: 610px;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;    
    transition: all 0.25s;    
    border: 0px;
}

/* ANIMACION */
.card-personalizada:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/*FIN ANIMACION */












